// ШАБЛОНЫ ДЛЯ СТИЛЕЙ
@mixin flex-col() {
    display: flex;
    flex-direction: column;
}

@mixin flex-menu() {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin  text($a,$b) {
    font-size: $a;
    color: $b;
}

@mixin def_before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $color_one;
    z-index: -1;
}