@import '__standard';
@import '__sample';
@import '__header';

.wpapper {
    position: relative;
    height: 100%;
    width: 100%;
}

// canvas {
//     background-image: url(../img/background.png);
//     width: 608;
//     height: 608;
//     background-size: cover;
// }